body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.center {
    text-align: center;
    margin-top: 40px;
}

.btn {
    background: green;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.form-container {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 8px;
}

.card {
    width: 250px;
    margin: 40px auto;
    padding: 15px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}